
  .result {
    width: 64% !important;
  }
  
  .calculator_input {
    padding: 30px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    cursor: pointer;
    width: 140px;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
  }

  .calculator_modal{
      padding:40px;

  }
  
  .first-row,
  .second-row,
  .third-row,
  .fourth-row,
  .fifth-row {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
  }
  input[type="button"] {
    color: rgb(0, 0, 0);
  }

  input[type="button"]:hover {
    background-color: rgb(37, 35, 59);
    color: #fff;
  }
  #clear {
    color: #fff;
    background-color: rgb(221, 93, 7);
  }