
/* layout css */
body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    max-width: 100%;
    margin: 0 auto;
}
.box{
    margin:0 20px;
}
.grid_template {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(90vh, auto) minmax(10vh, auto);
    grid-gap: 0;
    background-color: rgb(255, 255, 255);
}

.content_part{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(auto,90vh);
    grid-gap: 0;
    grid-column: 1/4;
    grid-row: 1/2;
}

.selection_part {
    background-color: rgb(247, 247, 247);
    grid-column: 1/3;
    overflow: scroll;
}

.search_part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.categories_part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
}
.products_part{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    grid-column: 1/4;
    grid-row: 2/3;
    overflow: auto;
    
}

.cart_part {
    background-color: rgb(255, 255, 255);
    grid-column: 3/4;
}
.customer_part{
    background-color: rgb(221, 93, 7);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top:20px;
    padding:5px;
}
.customer_list{
    padding: 20px;
    
    border:none;
    width: 80%;
    font-size: 18px;
}

.receipt_part{
    margin-top:20px;
    background-color: rgb(255, 255, 255);

}
.receipt_part ul{
    padding:0;
}
.receipt_part ul li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-top:20px;
}
.subtotal,.total,.tax{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:10px;
}
.buttons_part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top:100px;
}
.receipt_button{
    background-color: rgb(255, 255, 255);
    border:none;
    width: 80%;
    font-size: 18px;
    margin-top:30px;
    border-radius: 0 !important;
    padding: 20px;
}
.footer_part {
    background-color: rgb(225, 225, 233);
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}




/* icons,buttons,inputs & more */

.btn{
    background-color: rgb(255, 255, 255);
    border:none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(26, 24, 24);
}
.dash{
    border: 1px dashed rgb(26, 24, 24);

}
.dash:hover{
    border: 1px dashed black;
    background-color: #6b9bd2;
    color:white;
}

.input{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(26, 24, 24);
}
.w-100{
    width: 100%;
}
.w-70{
    width: 70%;
}
.input_group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin:10px;
}
.filter_icon{
    padding:10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 5px;
}
.filter_icon:hover{
    background-color: #6b9bd2;
    cursor: pointer;
}
.white{
    color:white;
}
.black{
    color: black;
}
.orange{
    background-color: rgb(221, 93, 7);
}
.orange:hover{
    background-color: white;
    color: black;
    border:1px dashed black;
}
.category{
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 20px;
    margin: 10px 5px;
    background-color: rgb(255, 255, 255);
}
.category:hover{
    background-color: #6b9bd2;
    color: white;
    cursor: pointer;
}
.product_card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.product_card:hover{
    background-color: #6b9bd2;
    color: white;
    cursor: pointer;
    padding:6px;
}
.product_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.product_image{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.product_image img{
    width: 100%;
}
.product_name{
    font-size: 20px;
    font-weight: bold;
    color: rgb(26, 24, 24);
}
.product_price{
    font-size: 20px;
    font-weight: bold;
    color: rgb(221, 93, 7);
}
.footer_part div{
    padding: 10px 40px;
    background-color: rgb(224, 223, 223);
    border-radius: 5px;
}
.footer_part div:hover{
    background-color: #6b9bd2;
    color: white;
    cursor: pointer;
}
.qty{
    padding:10px;
    width: 40px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.receipt_qty{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:10px;
}

.button .btn:hover{
    padding: 15px;
}

.modal_shadow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 35, 35, 0.5);
    z-index: 1;
}

.calculator_modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    z-index: 2;
}

.history_modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    z-index: 2;
    background-color: rgb(255, 255, 255);
}

.history_table{
    width: 100%;
    height: 70vh;
    overflow: auto;
}
.history_table thead tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    border-radius: 5px;
}
.history_table tbody tr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.history_table thead tr th{
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(26, 24, 24);
  
}
.history_table tbody tr td{
    padding: 20px;
    font-size: 18px;
    color: rgb(26, 24, 24);
}
.history_table tbody tr:hover{
    background-color: #6b9bd2;
    color: white;
    cursor: pointer;
}
.history_table tbody tr td:hover{
    background-color: #6b9bd2;
    color: white;
    cursor: pointer;
}

.loading_part{
    position: fixed;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    z-index: 2;
}